In [31]:
import pandas as pd
import os

In [43]:
# Read SP dataset
path_dataset = os.path.expanduser(os.getcwd()[:-20]+'MT_label_crawler-main/data/spotify_playlists/spotify_dataset.csv')
df = pd.read_csv(path_dataset, sep=',', error_bad_lines=False, warn_bad_lines=False)
df.columns = ['user_id', 'artistname', 'trackname', 'playlistname']
df["trackname"] = df["trackname"].astype(str)
df["trackname"] = df["trackname"].str.lower()
df.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22232\1523973067.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(path_dataset, sep=',', error_bad_lines=False, warn_bad_lines=False)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_22232\1523973067.py:3: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(path_dataset, sep=',', error_bad_lines=False, warn_bad_lines=False)

,user_id,artistname,trackname,playlistname
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(the angels wanna wear my) red shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(what's so funny 'bout) peace, love and unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 years too late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,accidents will happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,alison,HARD ROCK 2010

In [70]:
# Read MMTD dataset
path_dataset = os.path.expanduser(os.getcwd()[:-20]+'MT_label_crawler-main/data/mmtd/mmtd.txt')
df = pd.read_csv(path_dataset, sep='\t', error_bad_lines=False)
df = df[['tweet_userId','artist_name','track_title']]
df.columns = ['user_id','artistname', 'trackname']
df["trackname"] = df["trackname"].astype(str)
df["trackname"] = df["trackname"].str.lower()
df.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22232\3199029071.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(path_dataset, sep='\t', error_bad_lines=False)

     user_id         artistname       trackname
0   24842995        Anonymous 4       agnus dei
1   77147006              Drake  find your love
2  174626103       Van Morrison       hey mr dj
3  538669914   Carly Rae Jepsen   call me maybe
4  245555020  Justin Timberlake       4 minutes

In [71]:
len(df)

1090726

In [72]:
# Read final mapping of the dataset.
path_crawling = os.path.expanduser(os.getcwd()[:-20]+'MT_label_crawler-main/data/generated/mmtd/final_sorted_album_uris_enriched_mmtd.csv')
df_map = pd.read_csv(path_crawling, sep=',', error_bad_lines=False)
df_map["trackname"] = df_map["trackname"].astype(str)
df_map["trackname"] = df_map["trackname"].str.lower()
df_map.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22232\148732023.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_map = pd.read_csv(path_crawling, sep=',', error_bad_lines=False)

,trackname,album,album_uri,occurrences,record_label_low,copyright_p,copyright_c,record_label_major
0,someone like you,21,spotify:album:0Lg1uZvI312TPqxNWShFXL,4387,XL Recordings,2011 XL Recordings Ltd,2011 XL Recordings Ltd,Universal Music Group
1,paradise,Mylo Xyloto,spotify:album:2R7iJz5uaHjLEVnMkloO18,3331,Parlophone UK,"2011 Parlophone Records Ltd, a Warner Music G...","2011 Parlophone Records Ltd, a Warner Music G...",Warner Records
2,somebody that i used to know,Making Mirrors,spotify:album:1HjSyGjmLNjRAKgT9t1cna,2742,Samples & Seconds / Republic,"2011 Samples 'N' Seconds Records Pty Ltd, und...","2011 Samples 'N' Seconds Records Pty Ltd, und...",Universal Music Group
3,levels,Levels,spotify:album:1OEGfToF7QbjUgyxMAnGXg,2568,Universal Music AB,"2011 Avicii Music AB, Under exclusive license...","2011 Avicii Music AB, Under exclusive license...",Universal Music Group
4,set fire to the rain,21,spotify:album:0Lg1uZvI312TPqxNWShFXL,2543,XL Recordings,2011 XL Recordings Ltd,2011 XL Recordings Ltd,Universal Music Group

In [73]:
len(df_map)

127220

In [74]:
df_map['trackname'].nunique()

89587

In [75]:
df_map_no_duplicates = df_map.drop_duplicates(['trackname'])
len(df_map_no_duplicates)

89587

In [76]:
# Match user listening behaviour with the record label info of each song.
df_merged = df.merge(df_map_no_duplicates, on=['trackname'], how='left', indicator=True)
df_merged.head()

,user_id,artistname,trackname,album,album_uri,occurrences,record_label_low,copyright_p,copyright_c,record_label_major,_merge
0,24842995,Anonymous 4,agnus dei,Agnus Dei,spotify:album:6xq040ODRY5XXgZJzN4xWU,4.0,Piano Music,2023 Piano Music,2023 Piano Music,Independent,both
1,77147006,Drake,find your love,Thank Me Later,spotify:album:6jlrjFR9mJV3jd1IPSplXU,283.0,"Aspire Music Group, LLC",2010 Young Money Entertainment/Cash Money Rec...,2010 Young Money Entertainment/Cash Money Rec...,Universal Music Group,both
2,174626103,Van Morrison,hey mr dj,Pronounced Jah-Nay,spotify:album:4Rj3sxQFk2chQQqfad4siz,5.0,Motown,"1994 Motown Records, a Division of UMG Record...","1994 Motown Records, a Division of UMG Record...",Universal Music Group,both
3,538669914,Carly Rae Jepsen,call me maybe,Kiss (Deluxe),spotify:album:29blfJv8AddJrjuG3DpE13,1993.0,Silent Records IGA,2012 School Boy/Interscope Records,2012 School Boy/Interscope Records,Universal Music Group,both
4,245555020,Justin Timberlake,4 minutes,Celebration (double disc version),spotify:album:43lok9zd7BW5CoYkXZs7S0,68.0,Warner Records,2009 This Compilation P2009 Warner Records Inc.,2009 Warner Records Inc.,Warner Records,both

In [77]:
len(df_merged)

1090726

In [78]:
df_merged['_merge'].value_counts()

both          1090094
left_only         632
right_only          0
Name: _merge, dtype: int64

In [79]:
df_merged.to_csv("input_exp_enriched_mmtd.csv", index=False)

In [ ]:
df_merged[['user_id','trackname','record_label_major']].to_csv("input_exp_mmtd.csv", index=False)